
body{
  background : url("https://hdqwalls.com/download/firewatch-4k-17-1366x768.jpg") no-repeat;
  background-size: cover;
 
}
.App {
  text-align: center; 
  color: aliceblue;
  
}

#Title{
  font-size: 4em;
  font-family: "Bauhaus 93";
}

#Round{
  display: inline-block;
  font-size: 2.5em;
  font-family: "Bauhaus 93";
  width: 5em;
  border: 5px solid white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  display: inline-block;
  text-align: center;
  border: 5px solid white;
  width: 3em;
  font-size: 2.5em;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
  margin: 0.5em;
  user-select: none;
  border-radius: 30px;
  font-family: "Bauhaus 93";
 }

.App-link {
  color: #09d3ac;
}

.activeCard {
  color: yellow;
  background: rebeccapurple;
 }
 #new{
  display: inline-block;
  text-align: center;
  border: 5px solid white;
  width: 10em;
  font-size: 1.5em;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
  margin: 0.5em;
  user-select: none;
  border-radius: 30px;
  font-family: "Bauhaus 93";
 }

 #Try{
  font-family: "Bauhaus 93";
  font-size: 2.5em;
 }
